

  <h1> Christopher Fagg </h1>

  <div class="button-container">
    <div role="group" class="button-list">
      <% @social_channels.each do %>
        <%= link_to it.name,
                      it.url,
                      id: "button_#{it.id}",
                      class: "button",
                      target: "_blank",
                      data: {
                        tooltip: "Opens in a new browser",
                        placement: "bottom"
                      } %>
      <% end %>
    </div>
  </div>

  <p>Hello &#128075;, <br>
    I like code (mainly Rails), motorcycles, weightlifting & generally trying to make the net a nicer place to be,
    you can find me above. <br>
  </p>

  <section>
    <h3>OSS Contributions</h3>


    <table>
      <thead>
      <tr>
        <th>Repo</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <% @github.each do |pr| %>
      <tr>
        <td>
          <%= link_to pr.fetch(:url) do %>
              <%= pr.fetch(:repo).split('/').slice(-2, 2).join('/') %> <br>
          <% end %>
        </td>
        <td><%= pr.fetch(:title) %></td>
      </tr>
      <% end %>

      <% @gitlab.each do | mr |%>
      <tr>
        <td>
          <%= link_to mr.web_url do %>
            <%= mr.references.full %>
            <% end %>
        </td>
        <td>
          <%= mr.title %>
        </td>
      </tr>
        <% end %>
      </tbody>
      <caption>
        *When university is through these will be software based rather than docs. Just figured I'd help where
        I could around other commitments.
      </caption>
    </table>


  </section>





